<table class="table table-hover" >
  <thead >
    <tr  class="table-primary">
      <td scope="col" align="center"  >Identificación</td>
      <td scope="col" align="center"  >Empresa</td>
      <td scope="col" align="center" >Descripción</td>
      <td scope="col" align="center" >Crear usuario</td>
      <td scope="col" align="center" >Editar empresa</td>
      <td scope="col" align="center" >Eliminar empresa</td>
    </tr>
  </thead>
  <tbody>
       {{#each empresa}}
            <tr class="table-light">
              <td>{{identificacion}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>

                <td align="center" ><a href="/users/signup/{{_id}}"><i class="fas fa-user-plus"></i></a></td>

                <td align="center" ><a href="/empresa/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
                <!--<td align="center" ><a href="/empresas/eliminar/{{_id}}"><i class="far fa-trash-alt"></i></a></td>-->
                <td align="center" >
                    <form action="/empresas/eliminar/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                    </form>
                </td>

            </tr>
         {{/each}}
  </tbody>
</table>