
Identificación: {{identificacion}}<br>
Razón social: {{title}} <br>
Descripción: {{description}}<br>
Número de columnas del archivo envía: {{numcolenvia}}<br>
Número de columnas del archivo recibe: {{numcolrecibe}}<br>
<br>
<a class="btn btn-primary" href="/users/usuario_por_empresa/{{_id}}" role="button">Clic para ver lista de usuarios</a>
<br>